

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-image: url("https://cdn.pixabay.com/photo/2018/03/17/04/07/tunnel-3233082__340.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem; 
  color: whitesmoke;
  text-decoration: underline; 
}

.submit {
  color: black;
  padding: .5rem;
  margin: 1rem;
}

button {
  color: whitesmoke;
  background: black;
  padding: 1rem;
  font-weight: 700;
}

.form-group {
  margin: 2rem;
  color: whitesmoke;
  background: black;
}

.inputs {
  color: whitesmoke;
  background: black;
  padding: 1rem;
  font-weight: 700;
}

.label-placeholder {
  padding: 1rem;
  margin: 2rem;
  font-weight: 700;

}

input {
  background: black;
  color: whitesmoke;

}











/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
